.canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
  height: 100vh;
}

.detail {
  position: fixed;
  top:0;
  z_index: 3;
  visibility: hidden;
  height: 100vh;
}

.sidebar {
  background-color: #e8e8e8;
  position: fixed;
  bottom:0;
  right:0;
  z_index: 2;
  visibility: hidden;
  height: 13vh;
  width: 100vw;
  display: table-cell;
}

.sidebar .row {
  display: inline;
}

.main {
  height: 100vh;
}

#container{
  position: fixed;
  top:0;
  z-index:-1;
  height: 100vh;
  width: 100vw
}

.button-rect {
  rx: 20;
  ry: 20;
  fill: #cccccc;
}

.button-group:hover > .button-rect{
  opacity: 1;
}

p {
  text-align: center;
  alignment-baseline: middle;
  font-family: 'ff-meta-serif-web-pro', Helvetica, sans-serif;
}

.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:visited {
  background-color: #cccccc;
  border-color: #cccccc;
  border-radius: 20px;
  outline: none !important;
  color: #000000;
}

#continue-race,
#continue-income,
#continue-education,
#continue-neighborhood {
  display: none;
  margin: 0 auto;
}

#bottom-buttons {
  position: fixed;
  width: 100vw;
  top: 75vh;
  text-align: center;
}

.btn-group {
  position: fixed;
}

.title {
  font-size: 36px;
}

.body {
  font-size: 1em;
}

.prompt {
  font-size: 20px;
}

.label {
  font-family: 'tk-ff-meta-headline-web-pro', Helvetica, sans-serif;
  font-size: 0.8m;
}

a {
  text-align: center;
  display: block;
  font-family: 'tk-ff-meta-headline-web-pro', Helvetica, sans-serif;
  font-size: 0.8m;
}

.node:hover > .circle {
  opacity: 1;
  transform: scale(2,2);
}
