body {
  overflow-y: hidden;
  /* background-color: #000000; */
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
  height: 100vh;
}

.detail {
  position: fixed;
  top:0;
  z_index: 3;
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #e8e8e8;
}

.populationSvg {
  background-color: #e8e8e8;
}

.sidebar {
  background-color: #e8e8e8;
  position: fixed;
  bottom:0;
  right:0;
  z_index: 2;
  visibility: hidden;
  height: 13vh;
  width: 100vw;
  display: table-cell;
}

.sidebar .row {
  display: inline;
}

.main {
  height: 100vh;
}

#container{
  position: fixed;
  top:0;
  z-index:-1;
  height: 100vh;
  width: 100vw
}

.button-rect {
  rx: 20;
  ry: 20;
  fill: #cccccc;
}

.button-group:hover > .button-rect{
  opacity: 1;
}

.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:visited {
  background-color: #cccccc;
  border-color: #cccccc;
  border-radius: 20px;
  outline: none !important;
  color: #000000;
}

#continue-race,
#continue-income,
#continue-education,
#continue-neighborhood-A,
#continue-neighborhood-B {
  display: none;
  margin: 0 auto;
}

#change-race,
#change-income,
#change-education,
#change-neighborhood,
#change-school {
  visibility: hidden;
}

#bottom-buttons {
  position: fixed;
  width: 100vw;
  top: 75vh;
  text-align: center;
}

#race,
#income,
#education,
#neighborhood,
#school {
  text-align: center;
  margin: 0 auto;
}

#right-buttons {
  position: fixed;
  right: 2vw;
  top: 45vh;
  text-align: center;
}

#residential-policy-buttons,
#assignment-policy-buttons,
#learn-more-race,
#learn-more-residence,
#learn-more-school {
  display: none;
  margin: 0 auto;
}

label {
  display: inline-block;
}


.title {
  font-size: 36px;
  text-align: center;
  alignment-baseline: middle;
  font-family: 'ff-meta-serif-web-pro', Helvetica, sans-serif;
}

.body {
  font-size: 1em;
  text-align: center;
  alignment-baseline: middle;
  font-family: 'ff-meta-serif-web-pro', Helvetica, sans-serif;
}

.body-sm {
  font-size: 0.7em;
  text-align: center;
  alignment-baseline: middle;
  font-family: 'ff-meta-serif-web-pro', Helvetica, sans-serif;
  margin-bottom: 2px;
}

.prompt {
  font-size: 20px;
  text-align: center;
  alignment-baseline: middle;
  font-family: 'ff-meta-serif-web-pro', Helvetica, sans-serif;
}

.label {
  font-family: 'ff-meta-serif-web-pro', Helvetica, sans-serif;
  font-size: 0.8m;
  color: #000000;
  text-align: center;
  alignment-baseline: middle;
}

a {
  text-align: center;
  display: block;
  font-family: 'tk-ff-meta-headline-web-pro', Helvetica, sans-serif;
  font-size: 0.8m;
}

.node:hover > .circle {
  opacity: 1;
  transform: scale(2,2);
}
